@import
 url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: white;
  margin: 0;
}

h1 {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
   text-align: center;
}
h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

#form {
  width: 400px;
  margin: 20vh auto 0 auto;       
  padding: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 14px;
  margin-bottom: 5px;
}

.input-group input {
  border-radius: 14px;
  border: 1px solid;
  height: 28px;
  font-size: 18px;
  padding-left: 14px;
}

.input-group.error {
  color:rgb(242, 18, 18);
  font-size: 16px;
  margin-top: 5px;
}

div.error {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.input-terms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

#terms {
  margin: 0 0 0 5px;
}

a {
    color: #E43D12;
  }
  
  a:visited {
    color: black;
  }
  a:hover {
    color: #EFB11D;
  }
  
#form button {
  background-color: black;
  color: white;
  height: 28;
  border-radius: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 80%;
  margin: 20px auto 0 40px;
}