@import
 url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import
url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
}
.header {
  width: 80%;
  background-color: #E43D12;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 600px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

h1 {
  color: #EBE9E1;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
}

.reg-form {
  background-color: #EBE9E1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 40px;
}

p {
  color: #E43D12;
  text-align: center;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin: 20px;
  color: #E43D12;
  text-indent: 15px;
}

input {
  height: 36px;
  border: 1px solid #E43D12;
  border-radius: 18px;
  background-color: #EBE9E1;
  width: 100%;
  margin-top: 10px;
}

input[type="submit"] {
  display: block;
  width: 60%;
  min-width: 300px;
  background-color: #E43D12;
  border: none;
  height: 42px;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  color: #EBE9E1;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

#password-label {
  margin-bottom: 0;
}

#terms-and-conds {
  padding-top: 0;
  padding-bottom: 40px;
}

.inline {
  width: unset;
  margin: 0 10px 0 0 ;
  vertical-align: middle;
}

#terms-label{
  margin-bottom: 25px;
}

.footer {
  width: 80%;
  background-color:  #EFB11D;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 600px;
  height: 65px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

  a {
    color: #E43D12;
  }
  
  a:visited {
    color: #E43D12;
  }
  a:hover {
    color: #EFB11D;
  }
  
   a:active {
    color: #EFB11D;
  }
  